UPDATE "user" SET "paysMembership" = true, "membershipEndDate" = NOW() + INTERVAL '3 days' WHERE role = 'ALUMNO';
SELECT id, email, "paysMembership", "membershipEndDate", role FROM "user" WHERE role = 'ALUMNO' LIMIT 1;
