<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB87PA4XcU2BcBtME7HdrNjGvFAQSo6D1k</string>
	<key>GCM_SENDER_ID</key>
	<string>949007975769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tugymflow.app</string>
	<key>PROJECT_ID</key>
	<string>tugymflow</string>
	<key>STORAGE_BUCKET</key>
	<string>tugymflow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949007975769:ios:ebc78d9ab37cc361427848</string>
</dict>
</plist>